body {
  margin: 0;
  padding: 0;
}
/* font family start */
@font-face {
  font-family: Sofia\Pro\Bold\Az;
  src: url(../font/Sofia_Pro/Sofia\ Pro\ Bold\ Az.otf);
}
@font-face {
  font-family: Sofia\Pro\Medium\Az;
  src: url(../font/Sofia_Pro/Sofia\ Pro\ Medium\ Az.otf);
}
@font-face {
  font-family: Sofia\Pro\Regular\Az;
  src: url(../font/Sofia_Pro/Sofia\ Pro\ Regular\ Az.otf);
}
@font-face {
  font-family: Recoleta-Regular;
  src: url(../font/Recoleta/Recoleta-Regular.otf);
}
@font-face {
  font-family: Recoleta-Bold;
  src: url(../font/Recoleta/Recoleta-Bold.ttf);
}
/* font family end */
/* header start */
header {
  background-color: #2a182e;
}
.navbar {
  padding-top: 73px;
  padding-bottom: 196px;
}
/* logo */
.logo {
  margin-left: 416px;
  display: inline;
}
.logo h1 {
  font-family: Recoleta-Regular;
  font-size: 28px;
  color: #f6f5f0;
  display: inline;
}
/* nav */
.nav {
  display: inline;
  margin-right: 383px;
}
.nav ul {
  margin-left: 543px;
  padding: 0;
  display: inline;
}
.nav ul li {
  margin-right: 88px;
  list-style: none;
  display: inline;
}
.nav ul li a {
  font-family: Sofia\Pro\Regular\Az;
  font-family: 400;
  font-size: 18px;
  color: #f6f5f0;
  text-decoration: none;
}
.nav ul li a:hover {
  font-family: Sofia\Pro\Regular\Az;
  font-weight: 700;
  font-size: 18px;
  color: #f6f5f0;
  text-decoration: underline;
}
.nav ul li:last-child {
  margin-right: 0 !important;
}
/* header end */
/* hero start */
.hero {
  background-color: #2a182e;
}
.hero_box {
  width: 975px;
  height: 264px;
  overflow: hidden;
  margin-left: 416px;
}
.hero_box h2 {
  font-family: Sofia\Pro\Regular\Az;
  font-size: 72px;
  font-weight: 400;
  color: #f6f5f0;
  margin: 0;
  text-transform: capitalize;
  line-height: 88px;
}
.hero_box span {
  font-family: Sofia\Pro\Bold\Az;
  font-size: 72px;
  color: #f6f5f0;
  text-transform: capitalize;
}
.hero_btn {
  padding-bottom: 425px;
}
.hero_btn button {
  font-family: Sofia\Pro\Medium\Az;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  padding: 28px 44px;
  color: #f8f8f8;
  background-color: #f04e37;
  border-radius: 8px;
  margin-top: 64px;
  margin-left: 416px;
  border: none;
  transition: 0.3s;
}
.hero_btn button:hover {
  background-color: #f8f8f8;
  color: #f04e37;
}
.hero_img {
}
.hero_img img {
  position: absolute;
  width: 400.5px;
  height: 534px;
  left: 1359px;
  top: 440px;
}
/* hero end */
/*service section start */
.service {
  background-color: #2a182e;
  padding-bottom: 100px;
}
.all_service {
  margin-left: 416px;
}
.service_row {
  width: 64px;
  height: 4px;
  background: #f04e37;
  border-radius: 8px;
}
.service_heading h1 {
  font-family: Recoleta-Bold;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  color: #f6f5f0;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 64px;
}
.service_box {
}
.pair_box {
  position: relative;
}
/* box one */
.s_box1 {
  width: 550px;
  height: 504px;
  background-color: #37203c;
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  transition: 0.5s;
}
.s_box1:hover {
  background-color: #f04e37;
  cursor: pointer;
}
.s_box1 img {
  padding: 8px;
  border-radius: 8px;
  margin-top: 32px;
  margin-left: 32px;
}
.img_one {
  transition: 0.5s;
}
.s_box1:hover .img_one {
  background-color: #f8f8f8;
}
.s_box2:hover .img_one {
  background-color: #f8f8f8;
}
.s_box1 h1 {
  font-family: Sofia\Pro\Bold\Az;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  color: #f6f5f0;
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.s_box1 h2 {
  font-family: Sofia\Pro\Bold\Az;
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  color: #f6f5f0;
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 24px;
}
.s_box1 p {
  font-family: Sofia\Pro\Medium\Az;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #f6f5f0;
  line-height: 32px;
  padding: 0 24px;
  margin: 0;
}
/* box 2 */
.s_box2 {
  position: absolute;
  width: 550px;
  height: 504px;
  background-color: #37203c;
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  transition: 0.5s;
}
.s_box2:hover {
  background-color: #f04e37;
  cursor: pointer;
}
.s_box2 img {
  padding: 8px;
  border-radius: 8px;
  margin-top: 32px;
  margin-left: 32px;
}
.s_box2 h1 {
  font-family: Sofia\Pro\Bold\Az;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  color: #f6f5f0;
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.s_box2 h2 {
  font-family: Sofia\Pro\Bold\Az;
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  color: #f6f5f0;
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 24px;
}
.p_box {
}
.p_box p {
  font-family: Sofia\Pro\Medium\Az;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #f6f5f0;
  line-height: 32px;
  padding-left: 24px;
  padding-right: 30px;
  margin: 0;
}
/*service section end */
/* feature work start */
.feature_work {
  margin-bottom: 118px;
}
.feature_row {
  width: 64px;
  height: 4px;
  background: #f04e37;
  border-radius: 8px;
  margin-top: 80px;
  margin-left: 416px;
}
.feature_heading h1 {
  font-family: Recoleta-Bold;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  color: #2a182e;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 64px;
  margin-left: 416px;
}
.all_img {
  margin-left: 213px;
  display: inline-block;
  margin-right: 120px;
}
.fc_img {
  width: 310px;
  height: 655px;
  margin-right: 38px;
}
.fc_img:last-child {
  margin-right: 0;
}
.feature_text {
  position: absolute;
  width: 550px;
  height: 645px;
  display: inline-block;
}
.feature_text h3 {
  font-family: Sofia\Pro\Regular\Az;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #1b1c1e;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 5px;
}
.feature_text h2 {
  font-family: Sofia\Pro\Medium\Az;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  color: #1b1c1e;
  margin: 0;
  margin-bottom: 20px;
}
.feature_text p {
  font-family: Sofia\Pro\Regular\Az;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #606060;
  line-height: 32px;
  margin: 0;
}
.feature_text h4 {
  font-family: Sofia\Pro\Bold\Az;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: #1b1c1e;
  letter-spacing: -2px;
  text-transform: capitalize;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 24px;
}
.list_item a {
  font-family: Sofia\Pro\Medium\Az;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: #1b1c1e;
  margin-left: 16px;
}
.li_round {
  width: 8px;
  height: 8px;
  background-color: #1b1c1e;
  border-radius: 2px;
  display: inline-block;
}
.list_all {
  margin-bottom: 16px;
}
.feature_text_end {
  margin-top: 64px;
}
.feature_text_end a {
  font-family: Sofia\Pro\Medium\Az;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  color: #f04e37;
  text-decoration: none;
  transition: 0.3s;
}
.feature_text_end a:hover {
  text-decoration: underline;
}
/* feature work end */
/* client section start */
/* client review start */
.client_image {
  width: 100%;
}
.client_image img {
  width: 75px;
  height: 75px;
  cursor: pointer;
}
/* client review end */
.client {
  background-color: #2a182e;
  padding-top: 120px;
}
.client_title {
  margin-left: 416px;
  padding-top: 16px;
}
.client_heading h1 {
  padding-bottom: 0;
}
.client_img {
  margin-top: 67px;
  margin-bottom: 126px;
  margin-left: 416px;
  margin-right: 384px;
}
.client_img1 {
  display: inline-block;
  margin-right: 18px;
}
.client_text1 {
  position: absolute;
  display: inline-block;
}
.client_text1 h2 {
  font-family: Sofia\Pro\Medium\Az;
  font-size: 32px;
  font-weight: 500;
  color: #f6f5f0;
  margin: 0;
}
.client_text1 p {
  font-family: Sofia\Pro\Medium\Az;
  font-size: 24px;
  font-weight: 500;
  color: #bdb7ba;
  margin: 0;
}
.client_cbtn {
}
.ccp,
.ccn {
  width: 40px;
  height: 40px;
  top: 250px !important;
}
.ccp {
  left: 990px;
  color: #f04e37;
}
.ccn {
}
.client_cottetion {
  position: relative;
}
.client_cottetion img {
  position: absolute;
  top: 0;
  left: 308px;
}
.client_bg {
}
.client_bg img {
}
.client_cottetion p {
  width: 930px;
  height: 240px;
  position: absolute;
  font-family: Sofia\Pro\Medium\Az;
  font-size: 32px;
  font-weight: 500;
  font-style: italic;
  color: #bdb7ba;
  line-height: 48px;
  top: 0;
  margin: 0;
}
.client_img_text {
  margin-top: 314px;
}
.faq {
  padding-bottom: 81px;
}
.fa_question {
  margin-left: 416px;
  margin-right: 374px;
  padding-bottom: 250px;
}
/*  */
.client_accordion {
  background-color: transparent;
  border: none !important;
}
.client_accordion h2 {
  margin-bottom: 16px;
}
.client_accordion button {
  font-family: Sofia\Pro\Medium\Az;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  color: #f6f5f0 !important;
  background-color: transparent !important;
  border: none !important;
  padding: 0;
}
.client_accordion button:focus {
  box-shadow: none !important;
}
.client_accordion button:not(.collapsed) {
  color: #f6f5f0;
  background-color: transparent;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button::after {
  flex-shrink: 0;
  width: 64px !important;
  height: 64px !important;
  margin-left: auto;
  content: "";
  background-image: url(../img/client/gg_arrow-right.png);
  background-repeat: no-repeat;
  background-size: 5.25rem;
  transition: transform 0.2s ease-in-out;
}
.client_accordion button:not(.collapsed)::after {
  background-image: url(../img/client/gg_arrow-right.png);
  transform: rotate(90deg);
}
.client_body_text {
  padding: 0;
}
.client_body_text p,
span {
  font-family: Sofia\Pro\Medium\Az;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #bdb7ba;
  line-height: 32px;
  padding-right: 110px;
  display: block;
  margin: 0;
  margin-bottom: 25px;
}
/*  */
.ques_row {
  width: 1140px;
  height: 2px;
  background-color: #f04e37;
  border-radius: 8px;
  margin-bottom: 73px;
}
.qr_1 {
  margin-top: 77px;
}
.qr_2 {
  margin-top: 122px;
}
.qr_3 {
  margin-top: 48px;
  margin-bottom: 73px !important;
}
.qr_4 {
  margin-top: 176px;
  margin-bottom: 73px !important;
}
/* client section end */
/* footer start */
footer {
  background-color: #f04e37;
}
.all_footer {
}
.footer_text {
  margin-left: 545px;
  margin-right: 511px;
}
.footer_text h1 {
  font-family: Recoleta-Bold;
  font-size: 72px;
  font-weight: 700;
  font-style: normal;
  color: #f6f5f0;
  margin: 0;
  padding-top: 88px;
  margin-bottom: 24px;
  margin-left: 5px;
  margin-right: 5px;
}
.footer_text p {
  font-family: Sofia\Pro\Medium\Az;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #f6f5f0;
  line-height: 33.6px;
  margin: 0;
}
.footer_btn {
  margin-top: 64px;
  margin-bottom: 120px;
  margin-left: 32px;
  margin-right: 20px;
}
.footer_btn button {
  width: 379px;
  height: 88px;
  font-family: Sofia\Pro\Medium\Az;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  border: none;
  color: #ffffff;
  border: 2px solid #f6f5f0;
  border-radius: 8px;
  background-color: transparent;
  transition: 0.3s;
  margin-right: 30px;
  cursor: pointer;
}
.footer_btn button:last-child {
  margin-right: 0;
}
.footer_btn button:hover {
  color: #f04e37;
  background-color: #f6f5f0;
}
.footer_btn button i {
  margin-left: 10px;
}
.fsocial_icon {
  margin-left: 408px;
  padding-bottom: 64px;
}
.icon_text {
  display: inline-block;
}
.icon_text p {
  font-family: Sofia\Pro\Medium\Az;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #f6f5f0;
  margin: 0;
}
.icon_text a {
  font-family: Sofia\Pro\Medium\Az;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #f6f5f0;
  text-decoration: none;
}
.f_icon {
  display: inline-block;
  margin-left: 233px;
}
.f_icon ul {
  padding: 0;
}
.f_icon ul li {
  list-style: none;
  display: inline;
  margin-right: 32px;
}
.f_icon ul li:last-child {
  margin-right: 0;
}
.f_icon ul li a {
  font-family: Sofia\Pro\Medium\Az;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #f6f5f0;
  text-decoration: none;
}
.f_icon ul li a:hover {
  text-decoration: underline;
}

/* footer e buttonnd */
/* Custom Cursor */
.custom-cursor,
.custom-cursor-dot {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
}

/* decorative */
.custom-cursor {
  width: 62px;
  height: 62px;
  border: 1px solid white;
  border-radius: 50%;
}
.custom-cursor-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: white;
}
